<!--
  <div>
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example user verified icon"
      >verified_user</mat-icon
    >
  </mat-toolbar-row>
</div>
<mat-icon>home</mat-icon>
-->
<div class="verbaleCSEN" fxLayout="column"></div>

<div fxLayout="column">
  <!-- Tabelle -->
  <div fxFlex="grow">
    <div fxLayout="column">
      <!-- Tabella 1 -->
      <div fxFlex>
        <table *ngFor="let tabella of tabelle">
          <tr style="height:35px">
            <th>Soc.</th>
            <th style="width:200px">{{ tabella.dati.nomeSocieta }}</th>
            <th>Calottina<br />{{ tabella.dati.calottina }}</th>
            <th colspan="2">Risutato<br />{{ tabella.dati.RT }}</th>
            <th
              colspan="9"
              style="text-align:left; vertical-align:top; font-weight:600"
            >
              NOTE
            </th>
          </tr>
          <tr style="height:25px">
            <th>N</th>
            <th style="width:200px">Giocatori</th>
            <th>Tess. CSEN</th>
            <th style="text-transform:'uppercase'" colspan="3">espulsioni</th>
            <th style="text-transform:'uppercase'">1° tempo</th>
            <th style="text-transform:'uppercase'">t.o.</th>
            <th style="text-transform:'uppercase'">2° tempo</th>
            <th style="text-transform:'uppercase'">t.o.</th>
            <th style="text-transform:'uppercase'">3° tempo</th>
            <th style="text-transform:'uppercase'">t.o.</th>
            <th style="text-transform:'uppercase'">4° tempo</th>
            <th style="text-transform:'uppercase'">t.o.</th>
          </tr>

          <tr *ngFor="let riga of tabella.righe; let index = index">
            <!-- <tr
            *ngFor="let riga of [].constructor(15); let index = index"
            style="height:20px"
          > -->
            <td>{{ index + 1 }}</td>
            <td style="width:200px">
              {{ riga.cognomeGiocatore }}, {{ riga.nomeGiocatore }}
            </td>
            <td>{{ riga.numeroTessera }}</td>
            <td style="width:10px"></td>
            <td style="width:10px"></td>
            <td style="width:10px"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Tabella laterale -->
    <!-- Tabelle -->
    <div fxFlex="10">
      <div fxLayout="row" fxLayoutGap="40px">
        <!-- Tabella 1 -->
        <div fxFlex>
          <table>
            <tr>
              <th style="height:110px" colspan="3">LOGO</th>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
              <td colspan="3" rowspan="2">CAMPIONATO REGIONALE<br />LAZIO</td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
              <td style="text-align:left" colspan="3">CAT. {{ const.cat }}</td>
            </tr>
            <tr>
              <td style="text-align:left" colspan="3">
                DATA {{ const.dataPartita }}
              </td>
            </tr>
            <tr>
              <td style="text-align:left" colspan="3">
                IMPIANTO {{ const.stadio }}
              </td>
            </tr>
            <tr>
              <td style="text-align:left" colspan="3">
                ORA INIZIO {{ const.Hinizio }}
              </td>
            </tr>
            <tr>
              <td style="text-align:left" colspan="3">
                ORA FINE {{ const.Hfine }}
              </td>
            </tr>
            <tr>
              <td colspan="3" style="font-weight:600">Risultati parziali</td>
            </tr>
            <tr>
              <td>TEMPI</td>
              <td>B</td>
              <td>N</td>
            </tr>
            <tr>
              <td>1° T</td>
              <td *ngFor="let tabella of tabelle">{{ tabella.dati.Rt1 }}</td>
            </tr>
            <tr>
              <td>2° T</td>
              <td *ngFor="let tabella of tabelle">{{ tabella.dati.Rt2 }}</td>
            </tr>
            <tr>
              <td>3° T</td>
              <td *ngFor="let tabella of tabelle">{{ tabella.dati.Rt3 }}</td>
            </tr>
            <tr>
              <td>4° T</td>
              <td *ngFor="let tabella of tabelle">{{ tabella.dati.Rt4 }}</td>
            </tr>
          </table>
          <div fxLayoutGap="20px">
            <table>
              <!-- Tabella 2 -->
              <tr>
                <td
                  style="text-align:left; vertical-align:top; font-weight:600"
                >
                  Medico Dott.
                </td>
              </tr>
              <tr>
                <td
                  style="text-align:left; vertical-align:top; font-weight:600"
                >
                  Tess.
                </td>
              </tr>
              <tr>
                <td
                  rowspan="2"
                  style="text-align:left; vertical-align:top; font-weight:600"
                >
                  Firma.
                </td>
              </tr>
              <tr></tr>
              <tr>
                <td style="text-align:left">Ufficiali di Gara</td>
              </tr>
              <tr>
                <td style="text-align:left">Arbitro</td>
              </tr>
              <tr>
                <td style="text-align:left">Giudice</td>
              </tr>
              <tr>
                <td style="text-align:left">Cronometrista</td>
              </tr>
              <tr>
                <td style="text-transform:uppercase">Capitani Squadre</td>
              </tr>
              <tr>
                <td style="text-align:left; vertical-align:top">B</td>
              </tr>
              <tr>
                <td style="text-align:left; vertical-align:top">N</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="size: A4 Laandscape">
  <!-- TABELLONE -->
</div>
